/*typography
***************/
body{
font-family: Helvetica, Arial, Times;
}

#content{
font-family: Helvetica, Arial;
font-size: 10pt;
}

#footer{
font-family: "Century Gothic", Helvetica;
font-size: 10pt;
color: white;
}

/*freespace
***************/
#freespace h1{
font-family: Georgia, Garamond;
font-size: 25pt;
color:#0260a8;
}

#freespace h2{
font-family: "Century Gothic";
font-style: normal;
font-size: 12pt;
}

#freespace a{
font-family: "Century Gothic";
color: black;
}

#freespace a:hover{
color:#0260a8;
font-weight:bold;
}

#freespace a:active{
color:red;
font-weight:bold;
}

/*changepass
***************/
#cp{
font-family: "Century Gothic";
font-size: 14pt;
}

#reminders{
color: red;
}

/*viewcounselor
***************/
#viewcounselor, #viewcounselor a{
color: #012b5d;
}

#viewcounselor a:hover{
font-weight: bold;
}

#viewcounselor a:active{
color: red;
}

/*viewstudent
***************/
#viewstudent, #viewstudent a{
color: #012b5d;
}

#viewstudent a:hover{
font-weight: bold;
}

#viewstudent a:active{
color: red;
}

#viewstudent span a{
color: red;
}

/*query
***************/
#query{
font-family: "Century Gothic";
font-size: 11pt;
}

#directions{
color: red;
}

.label{
text-align: right;
}

#query a{
color: #012b5d;
}

#query a:hover{
text-decoration: underline;
}

#query a:active{
color: red;
}

/*editweekly, conductcounseling
***************/
#details{
font-family: "Century Gothic";
font-size: 11pt;
line-height: 18pt;
color:#012b5d;
}

#details a, #sched a{
color:#012b5d;
}

#details a:hover{
text-decoration: underline;
}

#sched a:hover{
font-weight: bold;
}

#details a:active, #sched a:active{
color:red;
}

#sched{
color: #012b5d;
}

/*profile
***************/
#profile{
font-size: 10pt;
color: #012b5d;
}

/*title
***************/
#title a{
text-decoration: none;
font-family: "Century Gothic";
font-size: 18pt;
color:#0260a8;
}

#title a:hover{
color:black;
}

#title a:active{
color:red;
}

#arrow, #counselor, #student{
font-family: "Century Gothic";
font-size: 18pt;
color:#0260a8;
}

#counselor,#student{
font-size: 16pt;
}

/*counselornav
***************/
#counselornav a{
font-family: "Century Gothic", Helvetica;
font-size: 10pt;
color:black;
}

#counselornav a:hover{
color:#0260a8;
}

#counselornav a:active{
color:red;
}

/*nav
***************/

#nav a, #sidebar a{
font-family: "Century Gothic", Helvetica;
font-size: 10pt;
}

#nav a{
color: white;
}

#nav a:hover{
color:#a8bcdf;
}

#nav a:active{
color: red;
}

/*sidebar
***************/

#sidebar a{
color:black;
}

#sidebar a:active{
color:#0260a8;
}
