<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
		<!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
		<link rel="stylesheet" type= "text/css" href="script/mainstyle.css"/>
		<link rel="stylesheet" type= "text/css" href="script/typography.css"/>
		<link rel="stylesheet" type= "text/css" href="script/infoaboutfam.css"/>
		<title>Ateneo High School Guidance Office</title>
		<script type="text/javascript" src="script/before.js"></script>
</head>

<body>

<form action="" method="post">

<div id="container">
	
	<div id="header">
	</div>

	
	<div id= "nav">
		<ul>
			<li><a href="mainpage.html">home</a></li>
			<li><a href="#">faqs</a></li>
			<li><a href="#">about us</a></li>
			<li><a href="log-in.html">log-out</a></li>
			<li><a href="#">
				<input type="text" size="20" name="text1" value="type here">
				<input type="button" name="search" value="search">
			</a></li>
			
		</ul>
	</div>
	
	<div id="center">
	
		<div id= "sidebar">
			<ul>
				<li><a href="changepass.html" title="password must be atleast 7 characters long">Change password</a></li>
				<li><a href="viewcounselor.html" title="">View counselor accounts</a></li>
				<li><a href="viewstudent.html" title="">View student profiles</a></li>
				<li><a href="assigncounselor.html" title="assign counselors to respective students/sections">Assign counselor</a></li>
				<li><a href="editweekly.html" title="assign counselors to respective students/sections">Edit weekly plan</a></li>
				<li><a href="conductcounseling.html" title="assign counselors to respective students/sections">Conduct counseling</a></li>			</</			</ul>	
			
		<br style="clear:both" /> 
		</div>
		
		<div id="content">
			<div id="stamps">
		
				<div id="date">
				</div>
			
				<div id="identifiers">
				User Identified As: <span id="name">name</span>
				<br/>
				Position: <span id="position">position</span>
				</div>
				
			</div>
			
		<!--edit title of page here-->	
		
			<div id="title">
				<a href="viewstudent.html">Student Profile </a>
				<span id="arrow"> > </span>
				<a href="studentprofile.html"> Academic History</a>
				<br/>
				<span id="student">Aron Fyodor Asor</span>
			</div>
			
			
		<!-- the only area you can edit-->
		
			<div id="counseloraccount">
				
				<div id="counselornav">
					<ul>
						<li><a href="studentprofile.html">Personal Information</a></li>
						<li><a href="infomationaboutfamily.html">Information About Family</a></li>
						<li><a href="acad.html">Academic History</a></li>
						<li><a href="routine_int.html">Routine Interviews</a></li>
						<li><a href="counselor_notations.html">Counselor Notations</a></li>
					</ul>
				</div>
				
				<!--EDIT FROM HERE ONLY FOR COUNSELOR ACCOUNT-->
				
					<div id="profile">

					<div id="graypart">
					<table>
						<tr>
							<td id="profhead" colspan="2">Academic History:</td>
						</tr>
						<tr>
							<td colspan="2"><b>Grade School</b></td>
						</tr>
						<tr>
							<td class="label1">Name:</td>
							<td>Philippine School</td>
						</tr>
						<tr>
							<td class="label1">Years Attended:</td>
							<td>1998-2009</td>
							
						</tr>
						<tr>
							<td class="label1">What subject/s were you good at?</td>
							<td>Math, Science, Chemistry</td>
						</tr>
						<tr>
							<td class="label1">In what subject/s do you think you need help?</td>
							<td>Theology</td>
						</tr>
						<tr>
							<td colspan="2"><b>High School</b></td>
						</tr>
						<tr>
							<td class="label1">Current Year/Section</td>
							<td>4A</td>
						</tr>
						<tr>
							<td class="label1">Level Completed</td>
							<td>1B, 2C, 3A</td>
						</tr>
						<tr>
							<td class="label1">What subject/s were you good at?</td>
							<td>Math, Science, Computer</td>
						</tr>						
						<tr>
							<td class="label1">In what subject/s do you think you need help?</td>
							<td>Values</td>
						</tr>
						<tr>
							<td colspan="2"><b>Previous High Schools Attended</b></td>
						</tr>
						<tr>
							<td class="label1">Name:</td>
							<td>Philippine Science High School</td>
							
						</tr>
						<tr>
							<td class="label1">Years Attended:</td>
							<td>2009-2010</td>
						</tr>
						<tr>
							<td colspan="2"><b>Study Habit</b></td>
						</tr>
						<tr>
							<td class="label1">About how long each day do you study outside of class time?</td>
							<td>4-5 hours</td>
						</tr>
						<tr>
							<td class="label1">With whom do you study?</td>
							<td>parents, friends, tutor</td>
						</tr>
						<tr>
							<td class="label1">Where do you study?</td>
							<td>home, school</td>
						</tr>
						<tr>
							<td class="label1">What usually prevents you from finishing your assigned school tasks?</td>
							<td>Values</td>
						</tr>
						<tr>
							<td class="label1">Are you being tutored?</td>
							<td>Yes</td>
						</tr>						
						<tr>
							<td class="label1">If yes, in what subject/s?</td>
							<td>Math, Science</td>
						</tr>
						<tr>
							<td class="label1">Do you need special guidance to improve your study habits?</td>
							<td>Yes</td>
						</tr>
						<tr>
							<td colspan="2"><b>Activities:</b></td>
						</tr>
						<tr>
							<td class="label1">Skills or talents:</td>
							<td>photography, drawing, basketball</td>
						</tr>
						<tr>
							<td colspan="2"><b>List down your extra-curricular activities, including the position/s held.</b></td>
						</tr>
						<tr>
							<td class="label1">Clubs or Organization:</td>
							<td>
								<li>Organization 1 - Position</li>
								<br>
								<li>Organization 2 - Position</li>
							</td>
						</tr>
						<tr>
							<td class="label1">Religious involvement:</td>
							<td>Destiny Church</td>
						</tr>
						<tr>
							<td class="label1">Leisure time activities:</td>
							<td>Basketball, Studying</td>
						</tr>
						<tr>
							<td class="label1">Work Experience:</td>
							<td>Web Developer at Ateneo School of Government</td>
						</tr>						
						<tr>
							<td class="label1">Interests:</td>
							<td>Math, Science</td>
						</tr>
					</table>
					
					<input type="button" value="edit" name="edit" class="edit" onclick="location.href='acad-edit.html'">

					</div>
					<br>
					<br>	
				</div>	
											
				<!--EDIT FROM HERE ONLY FOR COUNSELOR ACCOUNT-->
				
			</div>
			
					
		<!-- the only area you can edit-->
				
		<br style="clear:both" /> 
			
		</div> 
		

	</div>

	<div id="footer">
		<p>
		Ateneo High School Guidance Office Automated System <br/>
		Designed and developed by A-Team <br/>
		Copyright 2011 <br/>
		</p>
		
	</div>
	
</div>	

</form>
</body>
	<!--placed this script here so it can reference the elements in the html without calling a function-->
	<script type="text/javascript" src="script/after.js"></script>
</html>