<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
		<!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
		<link rel="stylesheet" type= "text/css" href="mainstyle.css"/>
		<link rel="stylesheet" type= "text/css" href="typography.css"/>
		<script type="text/javascript" src="before.js"></script>
		<title>Ateneo High School Guidance Office</title>
</head>

<body>

<form action="" method="post">

<div id="container">
	
	<div id="header">
	</div>

	
	<div id= "nav">
		<ul>
			<li><a href="mainpage.html">home</a></li>
			<li><a href="#">faqs</a></li>
			<li><a href="#">about us</a></li>
			<li><a href="#">log-out</a></li>
			<li><a href="#">
				<input type="text" size="20" name="text1" value="type here">
				<input type="button" name="search" value="search">
			</a></li>
			
		</ul>
	</div>
	
	<div id="center">
	
		<div id= "sidebar">
			<ul>
				<li><a href="changepass.html" title="password must be atleast 7 characters long">Change password</a></li>
				<li><a href="viewcounselor.html" title="">View counselor accounts</a></li>
				<li><a href="viewstudent.html" title="">View student profiles</a></li>
				<li><a href="assigncounselor.html" title="assign counselors to respective students/sections">Assign counselor</a></li>
				<li><a href="editweekly.html" title="assign counselors to respective students/sections">Edit weekly plan</a></li>
				<li><a href="conductcounseling.html" title="assign counselors to respective students/sections">Conduct counseling</a></li>			</				</ul>	
			
			<br style="clear:both" /> 
		</div>
		
		<div id="content">
			<div id="stamps">
		
				<div id="date">
				</div>
			
				<div id="identifiers">
				User Identified As: <span id="name">name</span>
				<br/>
				Position: <span id="position">position</span>
				</div>
				
			</div>
			
		<!--edit title of page here-->	
			
			<div id="title">
				<a href="mainpage.html">Home </a>
				<span id="arrow"> > </span>
				<a href="assigncounselor.html"> Assign Counselors</a>
				<br/>
				<span id="counselor">Juan Dela Cruz</span>
			</div>
			<br/>
			
			
		<!-- the only area you can edit-->
			<div id="assign">
			<table>
				<tr>
					<td colspan="3">
							Choose Counserlor:
							<select id="who" onchange="change()">
								<option value="1">Juan Dela Cruz</option>
								<option value="2">April Canlas</option>
								<option value="3">Aron Asor</option>	
								<option value="4">Anna Uy</option>
								<option value="5">Ferdie Verayo</option>
							</select>
					</td>
				</tr>
				
				<tr>
					<td>
						
						<select name="drop1" id="drop1" size="20" multiple="multiple">
							<option value="1">1A</option>
  							<option value="2">1B</option>
							<option value="3">1C</option>
							<option value="4">1D</option>
							<option value="5">1E</option>
							<option value="6">1F</option>
  							<option value="7">1G</option>
							<option value="8">1H</option>
							<option value="9">1I</option>
							<option value="10">1J</option>
							<option value="11">2A</option>
  							<option value="12">2B</option>
							<option value="13">2C</option>
							<option value="14">2D</option>
							<option value="15">2E</option>
							<option value="16">2F</option>
			  				<option value="17">2G</option>	
							<option value="18">2H</option>
							<option value="19">2I</option>
							<option value="20">2J</option>
							<option value="21">3A</option>
  							<option value="22">3B</option>
							<option value="23">3C</option>
							<option value="24">3D</option>
							<option value="25">3E</option>	
							<option value="26">3F</option>
  							<option value="27">3G</option>
							<option value="28">3H</option>
							<option value="29">3I</option>
							<option value="30">3J</option>
						</select>

					</td>
					
					<td>
					
						<li><input type="button" value=">>" name=">>" id=">>"></li>
						<li><input type="button" value="<<" name="<<" id="<<"></li>
					</td>
					
					<td>				
						<select name="drop2" id="drop2"	size="20" multiple="multiple">
							<option value="1">1A</option>
  							<option value="2">1B</option>
							<option value="3">1C</option>
							<option value="4">1D</option>
							<option value="5">1E</option>
							<option value="6">1F</option>
						</select>
					</td>
				</tr>
				
				<tr>	
						<td colspan="3"><input type="submit" name="submit" id="submit" value="submit"/></td>
				</tr>

			</table>
			</div>
			
			
			
					
		<!-- the only area you can edit-->
				
		<br style="clear:both" /> 
			
		</div> 
		

	</div>

	<div id="footer">
		<p>
		Ateneo High School Guidance Office Automated System <br/>
		Designed and developed by A-Team <br/>
		Copyright 2011 <br/>
		</p>
		
	</div>
	
</div>	

</form>
</body>
	<!--placed this script here so it can reference the elements in the html without calling a function-->
	<script type="text/javascript" src="after.js"></script>

</html>