$def with (user,counselors, sections, str)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
		<!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
		<link rel="stylesheet" type= "text/css" href="static/mainstyle.css"/>
		<link rel="stylesheet" type= "text/css" href="static/typography.css"/>
		<script type="text/javascript" src="static/before.js"></script>
		<script type="text/javascript" src="static/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="static/assigncounselor.js"></script>
		<title>Ateneo High School Guidance Office</title>
</head>

<body>

<form action="" method="post">

<div id="container">
	
	<div id="header">
	</div>

	
	<div id= "nav">
		<ul>
			<li><a href="mainpage.html">home</a></li>
			<li><a href="#">faqs</a></li>
			<li><a href="#">about us</a></li>
			<li><a href="#">log-out</a></li>
			<li><a href="#">
				<input type="text" size="20" name="text1" value="type here">
				<input type="button" name="search" value="search">
			</a></li>
			
		</ul>
	</div>
      </form>	
	<div id="center">
	
		<div id= "sidebar">
			<ul>
				<li><a href="changepass" title="password must be atleast 7 characters long">Change password</a></li>
				<li><a href="viewcounselor" title="">View counselor accounts</a></li>
				<li><a href="viewstudent" title="">View student profiles</a></li>
				<li><a href="assigncounselor" title="assign counselors to respective students/sections">Assign counselor</a></li>
				<li><a href="editweekly" title="assign counselors to respective students/sections">Edit weekly plan</a></li>
				<li><a href="conductcounseling" title="assign counselors to respective students/sections">Conduct counseling</a></li>			</				</ul>	
			
			<br style="clear:both" /> 
		</div>
		
		<div id="content">
			<div id="stamps">
		
				<div id="date">
				</div>
			
				<div id="identifiers">
				User Identified As: $user.name
				<br/>
				Position: $user.position.title
				</div>
				
			</div>
			
		<!--edit title of page here-->	
			
			<div id="title">
				<a href="mainpage">Home </a>
				<span id="arrow"> > </span>
				<a href="assigncounselor"> Assign Counselors</a>
				<br/>
				<span id="counselor">Juan Dela Cruz</span>
			</div>
			<br/>
			
			
		<!-- the only area you can edit-->
			<div id="assign">
			  <form method="POST" id="tanginanyonglahat">
			<table>
				<tr>
					<td colspan="3">
							Choose Counselor:
							<select id="who" onchange="change()" name="counselor_chosen">
							  $for counselor in counselors:
							    <option value="$counselor.id">$counselor.user.name</option>
							</select>
					</td>
				</tr>
				
				<tr>
					<td>
						
						<select name="section_drop" id="section_drop" size="20" multiple="multiple">
						  $for section in sections:
						    $ section_name = str(section.year) + section.name
							<option value="$section_name">$section_name</option>
						</select>

					</td>
					
					<td>
					
						<li><input type="button" value=">>" name="add" id="add"></li>
						<li><input type="button" value="<<" name="remove" id="remove"></li>
					</td>
					
					<td>				
						<select name="selected_drop" id="selected_drop"	size="20" multiple="multiple" value="asa">
						  
						</select>
					</td>
				</tr>
				
				<tr>	
						<td colspan="3"><input type="submit" name="submit" id="submit" value="submit"/></td>
				</tr>

			</table>
		      </form>
			</div>
			
			
			
					
		<!-- the only area you can edit-->
				
		<br style="clear:both" /> 
			
		</div> 
		

	</div>

	<div id="footer">
		<p>
		Ateneo High School Guidance Office Automated System <br/>
		Designed and developed by A-Team <br/>
		Copyright 2011 <br/>
		</p>
		
	</div>
	
</div>	
</body>
	<!--placed this script here so it can reference the elements in the html without calling a function-->
	<script type="text/javascript" src="static/after.js"></script>

</html>