$def with (students, period_date, period_num, interview_types, str)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
		<!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
		<link rel="stylesheet" type= "text/css" href="static/mainstyle.css"/>
		<link rel="stylesheet" type= "text/css" href="static/typography.css"/>
		<title>Ateneo High School Guidance Office</title>
		<script type="text/javascript" src="static/before.js"></script>
</head>

<body>

<form action="" method="post">

<div id="container">
	
	<div id="header">
	</div>

	
	<div id= "nav">
		<ul>
			<li><a href="main">home</a></li>
			<li><a href="#">faqs</a></li>
			<li><a href="#">about us</a></li>
			<li><a href="/logout">log-out</a></li>
			<li><a href="#">
				<input type="text" size="20" name="text1" value="type here">
				<input type="button" name="search" value="search">
			</a></li>
			
		</ul>
	</div>
	
	<div id="center">
	
		<div id= "sidebar">
			<ul>
				<li><a href="changepass" title="password must be atleast 7 characters long">Change password</a></li>
				<li><a href="viewcounselor" title="">View counselor accounts</a></li>
				<li><a href="viewstudent" title="">View student profiles</a></li>
				<li><a href="assigncounselor" title="assign counselors to respective students/sections">Assign counselor</a></li>
				<li><a href="editweekly" title="assign counselors to respective students/sections">Edit weekly plan</a></li>
				<li><a href="conductcounseling" title="assign counselors to respective students/sections">Conduct counseling</a></li>		</ul>	
			
		<br style="clear:both" /> 
		</div>
		
		<div id="content">
			<div id="stamps">
		
				<div id="date">
				</div>
			
				<div id="identifiers">
				User Identified As: <span id="name">name</span>
				<br/>
				Position: <span id="position">position</span>
				</div>
			</div>
			
		<!--edit title of page here-->	
			
			<div id="title">
				<a href="editweekly">Edit Weekly Plan </a>
				<span id="arrow"> > </span>
				<a href="choosing"> Choose Student</a>
			</div>
			
		<!-- the only area you can edit-->
		
			<div id="query">
			
			<table>
				<tr>
					<td class="label">Search Student:</td>
					<td>
						<input type="text" size="40" name="searchbar" id="searchbar">
						<input type="button" value="search" name="searchbutt" id="searchbutt">
					</td>
				</tr>

				<tr>
					<td></td>
					<td><span id="directions">Input name, year/section or id number*</span></td>
				</tr>
				
				<tr>
				</tr>
				
				<tr>
					<td class="label">Name:</td>
					<td>
						<ul>
							$for letter in 'abcdefghijklmnopqrstuvwxyz'.upper():
							  <li><a href="choosing?letter=$letter&amp;date=$period_date&amp;num=$period_num">$letter</a></li>
						</ul>
					</td>
				</tr>
				
				<tr>
					<td class="label">Year:</td>
					<td>
						<ul>
						  $for year in '1234':
							<li><a href="choosing?year=$year&amp;date=$period_date&amp;num=$period_num">$year</a></li>
						</ul>
					</td>
				</tr>
			</table>
			
			</div>
		
			<div id="viewstudent">
			
			<table>
				<tr id="thead">
					<td>Name</td>
					<td>Year/Section</td>
					<td>ID No.</td>
					<td>Schedule</td>
					
				</tr>
				$for student in students:
				<tr>
				  $ name = ' '.join([student.first_name, student.last_name])
				  $ section = str(student.section.year) + student.section.name
				  $ counselor_name = student.section.counselor.user.name if student.section.counselor else ''
				  $ student_id = student.id
				  <td><a href="studentprofile?id=$student_id">$name</a></td>
				  <td><a href="viewstudent?section=$section">$section</a></td>
				  <td>$student.id</td>
				  <td>
				    $for interview_type in interview_types:
				      <input type='button' value='$interview_type.name'
					     onclick='location.href="assignstudent?id=$student_id&amp;date=$period_date&amp;num=$period_num"&amp;interview_type=$interview_type.id'/>
				      <br/>
				  </td>
				</tr>
			</table>
			</div>
			
					
		<!-- the only area you can edit-->
				
		<br style="clear:both" /> 
			
		</div> 
		

	</div>

	<div id="footer">
		<p>
		Ateneo High School Guidance Office Automated System <br/>
		Designed and developed by A-Team <br/>
		Copyright 2011 <br/>
		</p>
		
	</div>
	
</div>	

</form>
</body>
	<!--placed this script here so it can reference the elements in the html without calling a function-->
	<script type="text/javascript" src="static/after.js"></script>
</html>