<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
		<!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
		<link rel="stylesheet" type= "text/css" href="mainstyle.css"/>
		<link rel="stylesheet" type= "text/css" href="typography.css"/>
		<title>Ateneo High School Guidance Office</title>
		<script type="text/javascript" src="before.js"></script>
</head>

<body>

<form action="" method="post">

<div id="container">
	
	<div id="header">
	</div>

	
	<div id= "nav">
		<ul>
			<li><a href="mainpage.html">home</a></li>
			<li><a href="#">faqs</a></li>
			<li><a href="#">about us</a></li>
			<li><a href="#">log-out</a></li>
			<li><a href="#">
				<input type="text" size="20" name="text1" value="type here">
				<input type="button" name="search" value="search">
			</a></li>
			
		</ul>
	</div>
	
	<div id="center">
	
		<div id= "sidebar">
			<ul>
				<li><a href="changepass.html" title="password must be atleast 7 characters long">Change password</a></li>
				<li><a href="viewcounselor.html" title="">View counselor accounts</a></li>
				<li><a href="viewstudent.html" title="">View student profiles</a></li>
				<li><a href="assigncounselor.html" title="assign counselors to respective students/sections">Assign counselor</a></li>
				<li><a href="editweekly.html" title="assign counselors to respective students/sections">Edit weekly plan</a></li>
				<li><a href="conductcounseling.html" title="assign counselors to respective students/sections">Conduct counseling</a></li>			</</			</ul>	
			
		<br style="clear:both" /> 
		</div>
		
		<div id="content">
			<div id="stamps">
		
				<div id="date">
				</div>
			
				<div id="identifiers">
				User Identified As: <span id="name">name</span>
				<br/>
				Position: <span id="position">position</span>
				</div>
				
			</div>
			
		<!--edit title of page here-->	
		
			<div id="title">
				<a href="viewcounselor.html">View Counselor Accounts </a>
				<span id="arrow"> > </span>
				<a href="counseloraccount.html"> Counselor Account</a>
				<br/>
				<span id="counselor">Juan Dela Cruz</span>
			</div>
			
			
		<!-- the only area you can edit-->
		
			<div id="counseloraccount">
				
				<div id="counselornav">
					<ul>
						<li><a href="counseloraccount.html">Profile</a></li>
						<li><a href="weeklyplan.html">Weekly Plan</a></li>
						<li><a href="performancesummary.html">Performance Summary</a></li>
						<li><a href="updateaccount.html">Update Account</a></li>
						<li><a href="studentassignments.html">Student Assignments</a></li>
						<li><a href="createaccount.html">Create Account</a></li>
					</ul>
				</div>
				
				<!--EDIT FROM HERE ONLY FOR COUNSELOR ACCOUNT-->
				
				<div id="profile">
					<div id="graypart">
					<table>
						<tr>
							<td id="profhead" colspan="2">Profile:</td>
						</tr>
						<tr>
							<td class="label1">Name:</td>
							<td>Dela Cruz Juan B.
							</td>
						</tr>
						<tr>
							<td class="label1">Nickname:</td>
							<td>Juan</td>
						</tr>
						<tr>
							<td class="label1">City Address:</td>
							<td>100 Name of Street. Corner Street, Brgy. Name., Quezon City</td>
						</tr>
						<tr>
							<td class="label1">Telephone No.:</td>
							<td>000-0000</td>
						</tr>
						<tr>
							<td class="label1">Cellphone No.:</td>
							<td>0000-000-0000</td>
						</tr>
						<tr>
							<td class="label1">E-mail Address:</td>
							<td>jdcruz@ateneo.edu</td>
						</tr>
						<tr>
							<td class="label1">Date of Birth:</td>
							<td>September 18,1988</td>
						</tr>
						<tr>
							<td class="label1">Place of Birth:</td>
							<td>Quezon City</td>
						</tr>
						<tr>
							<td class="label1">Religion:</td>
							<td>Catholic</td>
						</tr>
						<tr>
							<td class="label1">Nationality:</td>
							<td>Filipino</td>
						</tr>						
						<tr>
							<td class="label1">Citizenship:</td>
							<td>Filipino</td>
						</tr>
						<tr>
							<td class="label1">Parish/Church Denomination:</td>
							<td>Protestant</td>
						</tr>
						<tr>
							<td class="label1">Physical Fitness</td>
							<td><li>Height:5"6</li><li>Weight:118 lbs.</li></td>
						</tr>
						<tr>
							<td class="label1">General Health:</td>
							<td></td>
						</tr>
						<tr>
							<td class="label1">Eyesight:</td>
							<td>Excellent (E)</td>
						</tr>
						<tr>
							<td class="label1">Hearing:</td>
							<td>Excellent (E)</td>
						</tr>
						<tr>
							<td class="label1">Teeth:</td>
							<td>Excellent (E)</td>
						</tr>
						<tr>
							<td class="label1">Lungs:</td>
							<td>Excellent (E)</td>
						</tr>
						<tr>
							<td class="label1">Handicaps:</td>
							<td></td>
						</tr>
					</table>
					</div>
				</div>
				
				<!--EDIT FROM HERE ONLY FOR COUNSELOR ACCOUNT-->
				
			</div>
			
					
		<!-- the only area you can edit-->
				
		<br style="clear:both" /> 
			
		</div> 
		

	</div>

	<div id="footer">
		<p>
		Ateneo High School Guidance Office Automated System <br/>
		Designed and developed by A-Team <br/>
		Copyright 2011 <br/>
		</p>
		
	</div>
	
</div>	

</form>
</body>
	<!--placed this script here so it can reference the elements in the html without calling a function-->
	<script type="text/javascript" src="after.js"></script>
</html>