<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
		<!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
		<link rel="stylesheet" type= "text/css" href="static/mainstyle.css"/>
		<link rel="stylesheet" type= "text/css" href="static/typography.css"/>
		<title>Ateneo High School Guidance Office</title>
		<script type="text/javascript" src="static/before.js"></script>
</head>

<body>

<form action="" method="post">

<div id="container">
	
	<div id="header">
	</div>

	
	<div id= "nav">
		<ul>
			<li><a href="mainpage.html">home</a></li>
			<li><a href="#">faqs</a></li>
			<li><a href="#">about us</a></li>
			<li><a href="#">log-out</a></li>
			<li><a href="#">
				<input type="text" size="20" name="text1" value="type here">
				<input type="button" name="search" value="search">
			</a></li>
			
		</ul>
	</div>
	
	<div id="center">
	
		<div id= "sidebar">
			<ul>
				<li><a href="changepass.html" title="password must be atleast 7 characters long">Change password</a></li>
				<li><a href="viewcounselor.html" title="">View counselor accounts</a></li>
				<li><a href="viewstudent.html" title="">View student profiles</a></li>
				<li><a href="assigncounselor.html" title="assign counselors to respective students/sections">Assign counselor</a></li>
				<li><a href="editweekly.html" title="assign counselors to respective students/sections">Edit weekly plan</a></li>
				<li><a href="conductcounseling.html" title="assign counselors to respective students/sections">Conduct counseling</a></li>			</</			</ul>	
			
		<br style="clear:both" /> 
		</div>
		
		<div id="content">
			<div id="stamps">
		
				<div id="date">
				</div>
			
				<div id="identifiers">
				User Identified As: <span id="name">name</span>
				<br/>
				Position: <span id="position">position</span>
				</div>
				
			</div>
			
		<!--edit title of page here-->	
		
			<div id="title">
				<a href="viewcounselor.html">View Counselor Accounts </a>
				<span id="arrow"> > </span>
				<a href="createaccount.html"> Create Account</a>
				<br/>
				<span id="counselor">Juan Dela Cruz</span>
			</div>
			
			
		<!-- the only area you can edit-->
		
			<div id="counseloraccount">
				
				<div id="counselornav">
					<ul>
						<li><a href="counseloraccount.html">Profile</a></li>
						<li><a href="weeklyplan.html">Weekly Plan</a></li>
						<li><a href="performancesummary.html">Performance Summary</a></li>
						<li><a href="updateaccount.html">Update Account</a></li>
						<li><a href="studentassignments.html">Student Assignments</a></li>
						<li><a href="createaccount.html">Create Account</a></li>
					</ul>
				</div>
				
				<!--EDIT FROM HERE ONLY FOR COUNSELOR ACCOUNT-->
				
				<div id="profile">
					<div id="graypart">
					<table>
						<tr>
							<td id="profhead" colspan="2">Profile:</td>
						</tr>
						<tr>
							<td class="label1">Name:</td>
							<td>
								<input
							  type="text" value="Last Name"
							  size="15"
							  name="lastname">
								<input
							  type="text" value="First Name"
							  size="30" name="firstname">
								<input
							  type="text" value="M.I."
							  size="5" name="middleinitial">
							</td>
						</tr>
						<tr>
							<td class="label1">ID Number:</td>
							<td><input
							  type="text"
							  size="6"
							  name="ID Number"></td>
						</tr>

						<tr>
							<td class="label1">Password:</td>
							<td><input
							  type="password"
							  size="20"
							  name="Password"></td>
						</tr>
						<tr>
							<td class="label1">Nickname:</td>
							<td><input
							type="text"
							size="20"
							name="Nickname"></td>
						</tr>
						<tr>
							<td class="label1">City Address:</td>
							<td><input
							  type="text"
							  size="55"
							  name="City Address"></td>
						</tr>
						<tr>
							<td class="label1">Telephone No.:</td>
							<td><input
							type="text"
							value="000-000"
							size="20"
							name="telephone"></td>
						</tr>
						<tr>
							<td class="label1">Cellphone No.:</td>
							<td><input
							type="text"
							value="0000-000-0000"
							size="20"
							  name="cellphone"></td>
						</tr>
						<tr>
							<td class="label1">E-mail Address:</td>
							<td><input
							type="text"
							size="20" name="email"></td>
						</tr>
					      </table>
					</div>
					
					<br/>
					<input type="submit" value="submit">
				</div>
				
				<!--EDIT FROM HERE ONLY FOR COUNSELOR ACCOUNT-->
				
			</div>
			
					
		<!-- the only area you can edit-->
				
		<br style="clear:both" /> 
			
		</div> 
		

	</div>

	<div id="footer">
		<p>
		Ateneo High School Guidance Office Automated System <br/>
		Designed and developed by A-Team <br/>
		Copyright 2011 <br/>
		</p>
		
	</div>
	
</div>	

</form>
</body>
	<!--placed this script here so it can reference the elements in the html without calling a function-->
	<script type="text/javascript" src="static/after.js"></script>
</html>