<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
		<!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
		<link rel="stylesheet" type= "text/css" href="static/mainstyle.css"/>
		<link rel="stylesheet" type= "text/css" href="static/typography.css"/>
		<title>Ateneo High School Guidance Office</title>
		<script type="text/javascript" src="static/before.js"></script>
</head>

<body>

<form action="" method="post">

<div id="container">
	
	<div id="header">
	</div>

	
	<div id= "nav">
		<ul>
			<li><a href="mainpage.html">home</a></li>
			<li><a href="#">faqs</a></li>
			<li><a href="#">about us</a></li>
			<li><a href="#">log-out</a></li>
			<li><a href="#">
				<input type="text" size="20" name="text1" value="type here">
				<input type="button" name="search" value="search">
			</a></li>
			
		</ul>
	</div>
	
	<div id="center">
	
		<div id= "sidebar">
			<ul>
				<li><a href="changepass.html" title="password must be atleast 7 characters long">Change password</a></li>
				<li><a href="viewcounselor.html" title="">View counselor accounts</a></li>
				<li><a href="viewstudent.html" title="">View student profiles</a></li>
				<li><a href="assigncounselor.html" title="assign counselors to respective students/sections">Assign counselor</a></li>
				<li><a href="editweekly.html" title="assign counselors to respective students/sections">Edit weekly plan</a></li>
				<li><a href="conductcounseling.html" title="assign counselors to respective students/sections">Conduct counseling</a></li>			</</			</ul>	
			
		<br style="clear:both" /> 
		</div>
		
		<div id="content">
			<div id="stamps">
		
				<div id="date">
				</div>
			
				<div id="identifiers">
				User Identified As: <span id="name">name</span>
				<br/>
				Position: <span id="position">position</span>
				</div>
				
			</div>
			
		<!--edit title of page here-->	
		
			<div id="title">
				<a href="viewcounselor.html">View Counselor Accounts </a>
				<span id="arrow"> > </span>
				<a href="createaccount.html"> Create Account</a>
				<br/>
				<span id="counselor">Juan Dela Cruz</span>
			</div>
			
			
		<!-- the only area you can edit-->
		
			<div id="counseloraccount">
				
				<div id="counselornav">
					<ul>
						<li><a href="counseloraccount.html">Profile</a></li>
						<li><a href="weeklyplan.html">Weekly Plan</a></li>
						<li><a href="performancesummary.html">Performance Summary</a></li>
						<li><a href="updateaccount.html">Update Account</a></li>
						<li><a href="studentassignments.html">Student Assignments</a></li>
						<li><a href="createaccount.html">Create Account</a></li>
					</ul>
				</div>
				
				<!--EDIT FROM HERE ONLY FOR COUNSELOR ACCOUNT-->
				
				<div id="profile">
					<div id="graypart">
					<table>
						<tr>
							<td id="profhead" colspan="2">Profile:</td>
						</tr>
						<tr>
							<td class="label1">Name:</td>
							<td>
								<input type="text" value="Last Name" size="15">
								<input type="text" value="First Name" size="30">
								<input type="text" value="M.I." size="5">
							</td>
						</tr>
						<tr>
							<td class="label1">Password:</td>
							<td><input type="password" size="20"></td>
						</tr>
						<tr>
							<td class="label1">Nickname:</td>
							<td><input type="text" size="20"></td>
						</tr>
						<tr>
							<td class="label1">City Address:</td>
							<td><input type="text" size="55"></td>
						</tr>
						<tr>
							<td class="label1">Telephone No.:</td>
							<td><input type="text" value="000-000" size="20"></td>
						</tr>
						<tr>
							<td class="label1">Cellphone No.:</td>
							<td><input type="text" value="0000-000-0000" size="20"></td>
						</tr>
						<tr>
							<td class="label1">E-mail Address:</td>
							<td><input type="text"  size="20"></td>
						</tr>
						<tr>
							<td class="label1">Date of Birth:</td>
							<td>
								<select name="month">
									<option value="1">January</option>
									<option value="2">February</option>
									<option value="3">March</option>
									<option value="4">April</option>
									<option value="5">May</option>
									<option value="6">June</option>
									<option value="7">July</option>
									<option value="8">August</option>
									<option value="9">September</option>
									<option value="10">October</option>
									<option value="11">November</option>
									<option value="12">December</option>
								</select>
					
								<select name="date">	
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
						
									<option value="11">11</option>
									<option value="12">12</option>
									<option value="13">13</option>
									<option value="14">14</option>
									<option value="15">15</option>
									<option value="16">16</option>
									<option value="17">17</option>
									<option value="18">18</option>
									<option value="19">19</option>
									<option value="20">20</option>
						
									<option value="21">21</option>
									<option value="22">22</option>
									<option value="23">23</option>
									<option value="24">24</option>
									<option value="25">25</option>
									<option value="26">26</option>
									<option value="27">27</option>
									<option value="28">28</option>
									<option value="29">29</option>
									<option value="30">30</option>
									<option value="31">31</option>
								</select>
					
								<select name="year">
									<option value="1">1995</option>
									<option value="2">1996</option>
									<option value="3">1997</option>
									<option value="4">1998</option>
									<option value="5">1999</option>
									<option value="6">2000</option>
									<option value="7">2001</option>
									<option value="8">2002</option>																															<option value="9">2003</option>					
									<option value="10">2004</option>
									<option value="11">2005</option>
									<option value="12">2006</option>
									<option value="13">2007</option>
									<option value="14">2008</option>
									<option value="15" selected="true">2009</option>
								</select> 

							</td>
						</tr>
						<tr>
							<td class="label1">Place of Birth:</td>
							<td><input type="text"  size="20"></td>
						</tr>
						<tr>
							<td class="label1">Religion:</td>
							<td><input type="text" size="20"></td>
						</tr>
						<tr>
							<td class="label1">Nationality:</td>
							<td><input type="text"  size="20"></td>
						</tr>						
						<tr>
							<td class="label1">Citizenship:</td>
							<td><input type="text" size="20"></td>
						</tr>
						<tr>
							<td class="label1">Parish/Church Denomination:</td>
							<td><input type="text" size="20"></td>
						</tr>
						<tr>
							<td class="label1">Physical Fitness</td>
							<td>
								<li>Height: <input type="text" value="0'0" size="10"></li>
								<li>Weight: <input type="text" value="000 lbs." size="10"></li>
							</td>
						</tr>
						<tr>
							<td class="label1">General Health:</td>
							<td></td>
						</tr>
						<tr>
							<td class="label1">Eyesight:</td>
							<td>
								<input type="radio" name="eyesight" value="Excellent" checked="true"/>Excellent
								<input type="radio" name="eyesight" value="Good" />Good
								<input type="radio" name="eyesight" value="Bad" />Bad
							</td>
						</tr>
						<tr>
							<td class="label1">Hearing:</td>
							<td>
								<input type="radio" name="hearing" value="Excellent" checked="true"/>Excellent
								<input type="radio" name="hearing" value="Good" />Good
								<input type="radio" name="hearing" value="Bad" />Bad
							</td>
						</tr>
						<tr>
							<td class="label1">Teeth:</td>
							<td>
								<input type="radio" name="teeth" value="Excellent" checked="true"/>Excellent
								<input type="radio" name="teeth" value="Good" />Good
								<input type="radio" name="teeth" value="Bad" />Bad
							</td>
						</tr>
						<tr>
							<td class="label1">Lungs:</td>
							<td>
								<input type="radio" name="lungs" value="Excellent" checked="true"/>Excellent
								<input type="radio" name="lungs" value="Good" />Good
								<input type="radio" name="lungs" value="Bad" />Bad
							</td>
						</tr>
						<tr>
							<td class="label1">Handicaps:</td>
							<td><input type="text" size="55"></td>
						</tr>											
					</table>				
					</div>
					
					<br/>
					<input type="button" value="submit">
				</div>
				
				<!--EDIT FROM HERE ONLY FOR COUNSELOR ACCOUNT-->
				
			</div>
			
					
		<!-- the only area you can edit-->
				
		<br style="clear:both" /> 
			
		</div> 
		

	</div>

	<div id="footer">
		<p>
		Ateneo High School Guidance Office Automated System <br/>
		Designed and developed by A-Team <br/>
		Copyright 2011 <br/>
		</p>
		
	</div>
	
</div>	

</form>
</body>
	<!--placed this script here so it can reference the elements in the html without calling a function-->
	<script type="text/javascript" src="static/after.js"></script>
</html>