$def with (user,message)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
    <link rel="stylesheet" type= "text/css" href="static/mainstyle.css"/>
    <link rel="stylesheet" type= "text/css" href="static/typography.css"/>
    <link rel="stylesheet" type= "text/css" href="static/log-in.css"/>
    <script type="text/javascript" src="static/before.js"></script>
    <title>Ateneo High School Guidance Office</title>
    
    <script src="static/jquery/jquery-1.7.1.min.js"></script>
    
  </head>

  <body>


    <form method="get">

      <div id="container">
	
	<div id="header">
	</div>

	
	<div id= "nav">
	  <ul>
	    <li><a href="#">home</a></li>
	    <li><a href="#">faqs</a></li>
	    <li><a href="#">about us</a></li>
	    <li><a href="#">log-out</a></li>
	    <li><a href="#">
	      <input type="text" size="20" name="text1" value="type here">
		<input type="button" name="search" value="search">
		</a></li>
	      </form>
	    </ul>
	  </div>
	  
	  <div id="center">
	    
	    
	    <div id="content">
	      <div id="stamps">
		
		<div id="date">
		</div>
		
		<div id="identifiers">
		  User Identified As: $user.name
		  <br/>
		  Position: $user.position.title
		</div>
		
		
	      </div>
	      
	      <!--le only area you can edit-->
	      
		<div id="log-box">
		  <div id="title">
		    $message
		  </div>
	      </div>
	      
	      
	      
	      <!--le only area you can edit-->
	      
	      <br style="clear:both" /> 
	      
	    </div> 
	    

	  </div>

	  <div id="footer">
	    <p>
	      Ateneo High School Guidance Office Automated System <br/>
	      Designed and developed by A-Team <br/>
	      Copyright 2011 <br/>
	    </p>
	    
	  </div>
	  
	</div>	
      </body>
      <!--placed this script here so it can reference the elements in the html without calling a function-->
      <script type="text/javascript" src="static/after.js"></script>
      
    </html>