<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
		<!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
		<link rel="stylesheet" type= "text/css" href="script/mainstyle.css"/>
		<link rel="stylesheet" type= "text/css" href="script/typography.css"/>
		<link rel="stylesheet" type= "text/css" href="script/infoaboutfam.css"/>
		<title>Ateneo High School Guidance Office</title>
		<script type="text/javascript" src="script/before.js"></script>
</head>

<body>

<form action="" method="post">

<div id="container">
	
	<div id="header">
	</div>

	
	<div id= "nav">
		<ul>
			<li><a href="mainpage.html">home</a></li>
			<li><a href="#">faqs</a></li>
			<li><a href="#">about us</a></li>
			<li><a href="log-in.html">log-out</a></li>
			<li><a href="#">
				<input type="text" size="20" name="text1" value="type here">
				<input type="button" name="search" value="search">
			</a></li>
			
		</ul>
	</div>
	
	<div id="center">
	
		<div id= "sidebar">
			<ul>
				<li><a href="changepass.html" title="password must be atleast 7 characters long">Change password</a></li>
				<li><a href="viewcounselor.html" title="">View counselor accounts</a></li>
				<li><a href="viewstudent.html" title="">View student profiles</a></li>
				<li><a href="assigncounselor.html" title="assign counselors to respective students/sections">Assign counselor</a></li>
				<li><a href="editweekly.html" title="assign counselors to respective students/sections">Edit weekly plan</a></li>
				<li><a href="conductcounseling.html" title="assign counselors to respective students/sections">Conduct counseling</a></li>			</</			</ul>	
			
		<br style="clear:both" /> 
		</div>
		
		<div id="content">
			<div id="stamps">
		
				<div id="date">
				</div>
			
				<div id="identifiers">
				User Identified As: <span id="name">name</span>
				<br/>
				Position: <span id="position">position</span>
				</div>
				
			</div>
			
		<!--edit title of page here-->	
		
			<div id="title">
				<a href="viewstudent.html">Student Profile </a>
				<span id="arrow"> > </span>
				<a href="studentprofile.html"> Information About Family</a>
				<br/>
				<span id="student">Aron Fyodor Asor</span>
			</div>
			
			
		<!-- the only area you can edit-->
		
			<div id="counseloraccount">
				
				<div id="counselornav">
					<ul>
						<li><a href="studentprofile.html">Personal Information</a></li>
						<li><a href="informationaboutfamily.html">Information About Family</a></li>
						<li><a href="acad.html">Academic History</a></li>
						<li><a href="routine_int.html">Routine Interviews</a></li>
						<li><a href="counselor_notations.html">Counselor Notations</a></li>
					</ul>
				</div>
				
				<!--EDIT FROM HERE ONLY FOR COUNSELOR ACCOUNT-->
				
					<div id="profile">
					<ul id="tabs">
						<li><a href="informationaboutfamily.html">Parents</a></li>
						<li><a href="siblings.html">Siblings</a></li>
						<li><a href="Remarks.html">Remarks</a></li>
					</ul>
					<div id="graypart">
					<table>
						<tr>
							<td id="profhead" colspan="2">Siblings:</td>
						</tr>
						<tr>
							<td class="label1"><b>Name:</b></td>
							<td><b>Maria Asor</b></td>
						</tr>
						<tr>
							<td class="label1">Age:</td>
							<td>11</td>
							
						</tr>
						<tr>
							<td class="label1">School/Organization/Company:</td>
							<td>Saint Theresa's College</td>
						</tr>
						
						<tr>
							<td class="label1"><b>Name:</b></td>
							<td><b>Marianne Asor</b></td>
						</tr>
						<tr>
							<td class="label1">Age:</td>
							<td>12</td>
							
						</tr>
						<tr>
							<td class="label1">School/Organization/Company:</td>
							<td>Saint Theresa's College</td>
						</tr>
						
												<tr>
							<td class="label1"><b>Name:</b></td>
							<td><b>Marianarra Asor</b></td>
						</tr>
						<tr>
							<td class="label1">Age:</td>
							<td>15</td>
							
						</tr>
						<tr>
							<td class="label1">School/Organization/Company:</td>
							<td>Saint Theresa's College</td>
						</tr>
						
						<tr>
							<td class="label1">Remarks you care to make about your siblings:</td>
							<td>Loren ipsum dolor sit amet,consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
						</tr>

					</table>

					</div>
					<br>
					<br>	
				</div>	
											
				<!--EDIT FROM HERE ONLY FOR COUNSELOR ACCOUNT-->
				
			</div>
			
					
		<!-- the only area you can edit-->
				
		<br style="clear:both" /> 
			
		</div> 
		

	</div>

	<div id="footer">
		<p>
		Ateneo High School Guidance Office Automated System <br/>
		Designed and developed by A-Team <br/>
		Copyright 2011 <br/>
		</p>
		
	</div>
	
</div>	

</form>
</body>
	<!--placed this script here so it can reference the elements in the html without calling a function-->
	<script type="text/javascript" src="script/after.js"></script>
</html>