<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
		<!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
		<link rel="stylesheet" type= "text/css" href="mainstyle.css"/>
		<link rel="stylesheet" type= "text/css" href="typography.css"/>
		<title>Ateneo High School Guidance Office</title>
		<script type="text/javascript" src="before.js"></script>
</head>

<body>

<form action="/search" method="GET">

<div id="container">
	
	<div id="header">
	</div>

	
	<div id= "nav">
		<ul>
			<li><a href="mainpage.html">home</a></li>
			<li><a href="#">faqs</a></li>
			<li><a href="#">about us</a></li>
			<li><a href="#">log-out</a></li>
			<li><a href="#">
				<input type="text" size="20" name="query" value="type here">
				<input type="button" name="search" value="search">
			</a></li>
			
		</ul>
	</div>
	
	<div id="center">
	
		<div id= "sidebar">
			<ul>
				<li><a href="changepass.html" title="password must be atleast 7 characters long">Change password</a></li>
				<li><a href="viewcounselor.html" title="">View counselor accounts</a></li>
				<li><a href="viewstudent.html" title="">View student profiles</a></li>
				<li><a href="assigncounselor.html" title="assign counselors to respective students/sections">Assign counselor</a></li>
				<li><a href="editweekly.html" title="assign counselors to respective students/sections">Edit weekly plan</a></li>
				<li><a href="conductcounseling.html" title="assign counselors to respective students/sections">Conduct counseling</a></li>			</</			</ul>	
			
		<br style="clear:both" /> 
		</div>
		
		<div id="content">
			<div id="stamps">
		
				<div id="date">
				</div>
			
				<div id="identifiers">
				User Identified As: <span id="name">name</span>
				<br/>
				Position: <span id="position">position</span>
				</div>
				
			</div>
			
		<!--edit title of page here-->	
		
			<div id="title">
				<a href="viewcounselor.html">View Counselor Accounts </a>
				<span id="arrow"> > </span>
				<a href="weeklyplan.html"> Weekly Plan</a>
				<br/>
				<span id="counselor">Juan Dela Cruz</span>
			</div>
			
			
		<!-- the only area you can edit-->
		
			<div id="counseloraccount">
				
				<div id="counselornav">
					<ul>
						<li><a href="counseloraccount.html">Profile</a></li>
						<li><a href="weeklyplan.html">Weekly Plan</a></li>
						<li><a href="performancesummary.html">Performance Summary</a></li>
						<li><a href="updateaccount.html">Update Account</a></li>
						<li><a href="studentassignments.html">Student Assignments</a></li>
						<li><a href="createaccount.html">Create Account</a></li>
					</ul>
				</div>
				
				<!--EDIT FROM HERE ONLY FOR COUNSELOR ACCOUNT-->
				
				<div id="editweekly">
			
				<div id="details">
					Date: 
					<select name="month">
						<option value="1">January</option>
						<option value="2">February</option>
						<option value="3">March</option>
						<option value="4">April</option>
						<option value="5">May</option>
						<option value="6">June</option>
						<option value="7">July</option>
						<option value="8">August</option>
						<option value="9">September</option>
						<option value="10">October</option>
						<option value="11">November</option>
						<option value="12">December</option>
					</select>
					
					<select name="date">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>
					</select>
					
					<select name="year">
						<option value="1">2009</option>
						<option value="2">2010</option>
						<option value="3">2011</option>
						<option value="4" selected="true">2012</option>
					</select> 
					
					<br/>
					Assigned Year and Sections:
						<li><a href="#">2A</a></li>
						<li><a href="#">2B</a></li>
						<li><a href="#">2C</a></li>
						<li><a href="#">2D</a></li>

				</div>
				
				<div id="sched">
					<table>
						<tr id="headname">
							<td>Time</td>
							<td>Monday</td>
							<td>Tuesday</td>
							<td>Wednesday</td>
							<td>Thursday</td>
							<td>Friday</td>
						</tr>
						<tr>
							<td>
								7:45-8:00am<br/>
								MIP, Flag Ceremony,<br/>
								Reflection Period
							</td>
							<td>
								Aron Fyodor Asor<br/>
								Routine Interview
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
						</tr>
						
						
						<tr>
							<td>
								8:05-8:55<br/>
								1st Period<br/>
								
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
						</tr>
						
						<tr>
							<td>
								9:00-9:50<br/>
								2nd Period<br/>
								
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
						</tr>
						
						<tr>
							<td>
								9:50-10:20<br/>
								recess<br/>
								
							</td>
							<td>
								Aron Fyodor Asor<br/>
								Routine Interview
							</td>
							<td>
								Aron Fyodor Asor<br/>
								Routine Interview
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
						</tr>
						
						<tr>
							<td>
								10:20-11:10<br/>
								3rd Period<br/>
								
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
						</tr>
						
						<tr>
							<td>
								11:15-12:05<br/>
								4th Period<br/>
								
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
						</tr>
						
						<tr>
							<td>
								12:10-1:00<br/>
								5th Period(1st)<br/>
								
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
						</tr>
						
						<tr>
							<td>
								1:05-1:55<br/>
								5th Period(2nd)<br/>
								
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
						</tr>
						
						<tr>
							<td>
								2:00-2:50<br/>
								6th Period<br/>
								
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
						</tr>
						
						<tr>
							<td>
								2:55-3:45<br/>
								7th Period<br/>
								
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
						</tr>
						
						<tr>
							<td>
								3:50 onwards<br/>
								Dismissal<br/>
								
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
							<td>
								No Schedule
							</td>
						</tr>
						
					</table>
				</div>
				
				<div id="summary">
					<table>
						<tr>
							<td>Summary:</td>
						</tr>
						<tr> 
							<td>
								Counseling:
								<li>Routine:</li>
								<li>Follow-up:</li>
								<li>Group:</li>
							</td>
							
							<td>
								Conferences:
								<li>Moderator:</li>
								<li>Teacher:</li>
								<li>Parent:</li>
							</td>
						</tr>
						
						<tr>
							
							<td colspan="2">
								Recommendations:<br/>

							</td>
						</tr>
						<tr>
							<td colspan="2">
								Meetings:<br/>

							</td>
						</tr>
						<tr>													
							<td colspan="2">
								Others:<br/>


							</td>
						</tr>

					</table>
				</div>
				
			</div>


				
				<!--EDIT FROM HERE ONLY FOR COUNSELOR ACCOUNT-->
				
			</div>
			
					
		<!-- the only area you can edit-->
				
		<br style="clear:both" /> 
			
		</div> 
		

	</div>

	<div id="footer">
		<p>
		Ateneo High School Guidance Office Automated System <br/>
		Designed and developed by A-Team <br/>
		Copyright 2011 <br/>
		</p>
		
	</div>
	
</div>	

</form>
</body>
	<!--placed this script here so it can reference the elements in the html without calling a function-->
	<script type="text/javascript" src="after.js"></script>
</html>